In [55]:
import pandas as pd
from pandas import Series
import numpy as np

In [2]:
df = pd.read_csv('ex1.csv')

In [3]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_table('ex1.csv',sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_csv('ex2.csv',header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('ex2.csv',names = ['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
names = ['a','b','c','d','message']

In [8]:
pd.read_csv('ex2.csv',names = names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])

In [10]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [11]:
list(open('ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [12]:
result = pd.read_table('ex3.txt',sep='\s+')

In [13]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [14]:
pd.read_csv('ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
result = pd.read_csv('ex5.csv')

In [16]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [17]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [18]:
result = pd.read_csv('ex5.csv', na_values= ['NULL'])

In [19]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
sentinals = {'message':['foo','NA'],'something':['two']}

In [21]:
pd.read_csv('ex5.csv', na_values=sentinals)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [22]:
result = pd.read_csv('ex6.csv')

In [23]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [24]:
pd.read_csv('ex6.csv',nrows = 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [25]:
chunker = pd.read_csv('ex6.csv',chunksize = 1000)

In [26]:
chunker

In [27]:
tot = Series([])

In [28]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)

In [29]:
tot = tot.sort_values(ascending=False)

In [43]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [44]:
data = pd.read_csv('ex5.csv')

In [45]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [46]:
data.to_csv('out.csv')

In [47]:
data.to_csv(sys.stdout,sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [48]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [49]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [52]:
data.to_csv(sys.stdout,index=False,columns = ['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [53]:
dates = pd.date_range('1/1/2000',periods=7)

In [56]:
ts = Series(np.arange(7), index = dates)

In [58]:
ts.to_csv('tseries.csv',header = False)

In [60]:
pd.read_csv('tseries.csv',parse_dates=True)

   2000-01-01  0
0  2000-01-02  1
1  2000-01-03  2
2  2000-01-04  3
3  2000-01-05  4
4  2000-01-06  5
5  2000-01-07  6

In [61]:
import csv

In [62]:
f = open('ex7.csv')

In [63]:
reader = csv.reader(f)

In [64]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [67]:
lines = list(csv.reader(open('ex7.csv')))

In [68]:
header,values = lines[0],lines[1:]

In [69]:
data_dict = {h:v for h, v in zip(header,zip(*values))}

In [70]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [75]:
class my_dialect(csv.Dialect):
    lineterminator='\n'
    delimiter=';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [76]:
reader = csv.reader(f,dialect = my_dialect)

In [77]:
reader = csv.reader(f,delimiter ='|')

In [78]:
with open('mydata.csv','w') as f:
    writer = csv.writer(f,dialect = my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [82]:
obj = """
{"name":"Wes",
 "places_lived":["United States","Spain","Germany"],
 "pet":null,
 "siblings":[{"name":"Scott","age":25,"pet":"Zuko"},
             {"name":"Katie","age":33,"pet":"Cisco"}]
}
"""

In [83]:
import json

In [84]:
result = json.loads(obj)

In [85]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [86]:
asjson=json.dumps(result)

In [88]:
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])

In [89]:
siblings

    name  age
0  Scott   25
1  Katie   33

In [92]:
from lxml.html import parse
from urllib2 import urlopen

ModuleNotFoundError: No module named 'urllib2'